/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8/07/2022, 01:25:10 PM
    Author     : karla.calderon
*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

.vh-50{
    padding: 40px;
    background-color: #c4d7e1 !important;
}
.card{

    border-radius: 35px;
    border-color: black;
    box-shadow: 26px 20px 0px 0px rgba(0,0,0,0.1);
}
.card-body{
    /* background-color: #F5F5F5;*/
    padding-top: 10px;
}
p{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 25px !important;
    color: #001141 !important;
}
.form-label{
    font-family: 'Alegreya Sans', sans-serif;
    color: #001141 !important;
    font-weight: bold;
}

.form-control{
    font-family: 'Alegreya Sans', sans-serif;

}
.boton{
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    float: right;
    background-color: #034e52 !important;
    color: white !important;
    width: 90px;
    height: 40px;
}
.boton1{
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    float: right;
    background-color: #eac700 !important;
    color: white !important;
    width: 90px;
    height: 40px;
    margin-right: 20px;
}
.boton2{
    align-content: center;
    float: right;
    height: 40px;
    margin-right: 100px;
}
.export{
   float: right; 
   width: 150px;
    height: 40px;
   margin-top: 20px;
}
table {
    border-collapse: collapse;
    width: 50%;
    height: 100px;

    background-color: #ffffff

}
.cuerpo{
    background-color: #c4d7e1
}

h1{

    color: #001141
}

table th {
    font-size: 1.1em;
    text-align: center;
    font-weight: normal;
    font-family: 'Alegreya Sans', sans-serif;
    color: #FFFFFF;
    background-color:  #001141 !important;
    border-radius: 0px;
    border: 100px;
    padding: 6px;

}
mostrar{
    color: #001141
}
.btn{
    align-items: center
}
.form-check{
    margin-left: 1.5em
}
